{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Landing Page</title>
    <link rel="stylesheet" href="{% static 'request/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Sitio</h1>
        <p>Una introducción breve y directa al proyecto.</p>
    </header>
    <main>
        <section>
            <h2>¿Qué es esto?</h2>
            <p>Este sitio es parte de una tarea para introduccir el funcionamiento del protocolo HTTP en Django.</p>
        </section>
        <section>
            <h2>Características</h2>
            <ul>
                <li>Diseño simple y efectivo</li>
                <li>Rápido de implementar</li>
                <li>Listo para expandirse</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Reis Viera, Luis</p>
    </footer>
</body>
</html>
